body{
    background-color: rgb(39, 37, 54);
}

.bg{
    display: flex;
}

.title{
    margin-left: 0.5%;
}

.head{
    color: white
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 10%;
    margin-top: 3%;
}

.right{
    margin-top: 8%;
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.button{
    font-size: 18px;
    margin-left: 1%;
    height: 60%;
    width: 20%;
    border-radius:25px;
    border-width:0px;
}

.upbutton{
    font-size: 18px;
    height: 100%;
    width: 100%;
    border-radius:25px;
    border-width:0px;
}
.upload{
    margin-left: 10%;
    color: white;
}

.picture{
    width: 550px;
    height: 1500px;
    margin-left: 10%;
    display:flex;
    flex-wrap: wrap;
    overflow: auto;
}

li{ 
    margin-left: 1%;
    list-style-type: none;
} 

a{
    text-decoration:none;
}
